{% extends "community/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}로그인{% endblock %}

{% block content %}
  <h2>Login</h2>
  {% if form.errors %}
    <div class="alert alert-danger">
      Invalid username or password
    </div>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      {{ form.username.label_tag }}
      {{ form.username|add_class:"form-control" }}  <!-- 클래스 추가 -->
  </div>
  <div class="form-group">
      {{ form.password.label_tag }}
      {{ form.password|add_class:"form-control" }}  <!-- 클래스 추가 -->
  </div>
    
    <button type="submit" class="btn btn-primary">Login</button>
    <a href="{% url 'community:signup' %}" class="btn btn-link">Create Account</a>
  </form>
{% endblock %}
