{% extends 'community/index.html' %}
{% load static %}

{% block content %}
<section class="section active" id="post-section">
  <h2>새 글 작성</h2>
  
  <form method="POST" action="">
    {% csrf_token %}
    <label for="title">제목</label>
    <input type="text" id="title" name="title" required />
    
    <label for="content">내용</label>
    <textarea id="content" name="content" rows="5" required></textarea>
    
    <button type="submit" class="btn hover-effect">글쓰기</button>
  </form>
</section>
{% endblock %}
